*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

@mixin inputRemoveDefault(){
    background: none;
    outline: none;
    border: none;
}

@mixin buttonEffect(){
    >.circle{
        width: 10rem;
        height: 10rem;
        background-color: rgba(252, 253, 253, 0.328);
        border-radius: 10rem;
        
        position: absolute;
        right: -120px;
        top: -15px;

        

        transition: all ease-in-out .5s;

    }
    &:hover > .circle{
        transition: all ease-in-out .5s;
        right: -80px;
        top: -10px;
    }   
}






.popUpContainer{
    background-color: #4242dc;
    width: 100vw;
    height: 100vh;
    display: none;
}

.popUpWithForm{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    background-color: #efefef;

    width: 50%;
    height: 70vh;
    position: absolute;
    left: 25%;
    top: 15%;

    >.form{
        display: flex;
        flex-direction: column;
        gap: .5rem;
        padding: 2rem;
        >.title{
            font-size: 2.5rem;
            font-weight: 700;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

            margin-bottom: 0rem;
        }
        >.desc{
            margin-bottom: 2rem;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 1rem;
            color: #6a6a8e;
        }
        >form{
            div{
                position: relative;
                >label{
                    position: absolute;
                    top: .7rem;
                    left: 1rem;
                transition: all ease-in-out .2s;
                    

                }
                input:focus + label{
                transition: all ease-in-out .2s;
                    
                    font-size: .8rem;
                    top: -.3rem;
                    left: .7rem;
                }
            }
            margin-bottom: 2.5rem;
            input{
                margin-bottom: .5rem;
                padding: .3rem;
                font-size: 1.2rem;
                width: 90%;
                height: 2.5rem;
                border-radius: .2rem;
                @include inputRemoveDefault();
                border-bottom: 2px solid rgb(209, 209, 209);
                transition: all ease-in-out .5s;

                &:hover{
                    transition: all ease-in-out .5s;
                    border-bottom: 2px solid rgb(192, 19, 151);

                }
            }   
            button{
                @include inputRemoveDefault();
                margin-top: 1rem;
                width: 90%;
                height: 3rem;
                color: #efefef;
                border-radius: 2rem;
                background-color: rgb(211, 40, 171);
                position: relative;
                overflow: hidden;                

                @include buttonEffect();             

            } 
            .privacyDesc{
                font-size: .8rem;
                margin-left: 2rem;
                margin-top: .8rem;
                color: #6a6a8e;

            }
        }

    }
    >.img{
        width: 79%;
        height: 70vh;
        background: url("./assets/mockup-app.jpg") ;
        background-position: center;
        background-repeat: no-repeat;
        background-clip: content-box;
        background-size: cover;
    }
    >.closeBtn{
        position: absolute;
        top: 2rem;
        right: 2rem;


        font-size: 2rem;
        &:hover{
            cursor: pointer;
        }
    }
}




nav{
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 3.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    position: fixed;
    background-color: #e5e5e536;
    z-index: 10;
    
    menu{
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        width: 40%;
        li{
            height: 100%;
            font-size: 1.2rem;
            color: #f1f1f1;

            margin-top: 1rem;

            &::after{
                content: "";
                display: flex;
                margin-top: 1rem;
                background-color: #4242dc;
                width: 0%;
                height: 4px;
                transition: all ease-in-out .5s;
            }
            &:hover{
                cursor: pointer;
                &::after{
                    transform-origin: left;
                    width: 100%;         
                }
            }
        }
    }
    .requestAQuote{
        position: relative;
        overflow: hidden;
        background-color: #4242dc;
        
        display: flex;
        align-items: center;

        @include buttonEffect();

        padding: .5rem 1rem;
        border-radius: 3rem;
        height: 2.7rem;
        width: 10rem;

        color: hsl(0, 0%, 89%);

    }
    .toggler{
        width: 2rem;
        height: 2rem;
        line-height: 2rem;
        text-align: center;


        background-color: #dece53;
        border: 2px solid rgb(35, 35, 35);
        box-sizing: border-box;

        border-radius: 2rem;
        transition: all ease-in-out .5s;

        &:hover{
            transition: all ease-in-out .5s;

            cursor: pointer;
            background-color: #e5cc11;

        }
    }

}

.sideImageSlider{
    z-index: 100;

    background-color: #f1f1f1;
    position: absolute;
    right: 0;
    top: 0;

    padding: 2rem;
    width: 30vw;
    height: 100vh;

    >h3{
        font-size: 2.5rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    }
    >form{
        input,select{
            color: #7e7c7c;
            margin: 0 .6rem;
            @include inputRemoveDefault();
            width: 90%;
            padding: 1.2rem .3rem;
            height: 2.4rem;
            border-radius: 2px ;
            border: 2px solid #e9e9e9;
        }
        option{
            color: #4f4f4f;
        }

    }
}